@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
* {
  font-family: 'Varela Round', sans-serif;
}

a {
  color: #FFF;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  line-height: 150%;
}

.section {
  color: #FFF;
}

.slide1 {
  background: #2980b9;
}

.slide2 {
  background: #c0392b;
}

.slide4 {
  background: #464646;
}

.socialButt img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 10px;
  border: 2px solid #FFF;
  margin: 5px;
  transition: 0.2s;
}

.socialButt:hover img {
  border: 5px solid #FFF;
  transition: 0.2s;
}

#avatar {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
