@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
* {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.section {
  color: #FFF;
}

.slide1 {
  background: #2980b9;
}
